<header>
  <div class="container">
    <a href="#" class="mobile-nav-button">
      <li class="top">&nbsp;</li>
      <li class="middle">&nbsp;</li>
      <li class="bottom">&nbsp;</li>
    </a>
    <div class="nav-wrapper">
      <div class="nav-links">
        <li>
          <a href="/">
            About SNNC
          </a>
        </li>
        <li>
          <a href="/sponsors">
            Sponsors
          </a>
        </li>
        <li>
          <a href="/join">
            Join
          </a>
        </li>
      </div>
      <div class="social-row">
        <a href="https://twitter.com/thehonestguide" target="_blank" class="fa fa-twitter"></a>
        <a href="https://instagram.com/honestguidetocooking/" target="_blank" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>
</header>