<header>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="mobile-nav-button">
        <li class="top">&nbsp;</li>
        <li class="middle">&nbsp;</li>
        <li class="bottom">&nbsp;</li>
      </a>
      <a href="/" class="logo">
          {% image compactlogo.png %}
        </a>
      <div class="nav-links">
        <a href="/">
          Home
        </a>
        <a href="/guests">
          Info for guests
        </a>
        <a href="/about">
          About
        </a>
        <a href="/sponsors">
          Sponsors
        </a>
        <a href="https://www.facebook.com/NobelNightCap" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/nobelnightcap/" target="_blank" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>
</header>