<header>
  <div class="container">
    <a href="#" class="mobile-nav-button">
      <li class="top">&nbsp;</li>
      <li class="middle">&nbsp;</li>
      <li class="bottom">&nbsp;</li>
    </a>
    <div class="nav-wrapper">
      <div class="nav-links">
        <a href="/">
          About SNNC
        </a>
        <a href="/sponsors">
          Sponsors
        </a>
        <a href="/join">
          Join
        </a>
        <a href="https://twitter.com/thehonestguide" target="_blank" class="fa fa-twitter"></a>
        <a href="https://instagram.com/SNNC17/" target="_blank" class="fa fa-instagram"></a>
      </div>
    </div>
  </div>
</header>