.home-bg {
	background: image-url('featherbg.jpg');
	background-position: center top;
	background-size: 150% auto;
	background-repeat: no-repeat;
	margin-top: - rem(84px);
	padding-top: rem(84px);
	@include media($phone) {
		background-size: auto 100%;
	}
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background: image-url('dots.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		top: 20%;
		z-index: 1;
	}
}

.logo-container {
	padding-top: 5%;
	width: 20%;
	min-width: 200px;
	margin: 0 auto;
	padding-bottom: $padding-xl;
}

.sponsor-bg {
	padding-top: rem(300px);
}

.mailing-list {
	z-index: 8;
	padding: $padding-xl*2 0;
	@include background-image(linear-gradient(to bottom, $blue, #000));
	.form-block {
		display: flex;
		justify-content: space-between;
		align-content: center;
		input {
			flex: 2 0;
			margin-right: $padding-l; 
		}
		button {
			flex: 1 0;
			background: $orange;
			color: white;
			@include font($bold, rem(22px), $regular, $white);
			border-radius: $border-base-radius;
		}
	}
}