%full-bg {
	background-position: center top;
	background-size: 125% auto;
	background-repeat: no-repeat;
	min-height: 100%;
	@include media($phone) {
		background-size: auto 100%;
	}
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: 100%;
		top: 20%;
		z-index: 1;
		pointer-events: none;
	}
}
.home-bg {
	padding-top: $padding-xl*2;
	background-image: image-url('featherbg.jpg');
	&:before {
		background-image: image-url('dots.svg');
	}
	@extend %full-bg;
}

.logo-container {
	padding-top: 5%;
	width: 20%;
	min-width: 200px;
	margin: 0 auto;
	padding-bottom: $padding-xl;
}

.mailing-list {
	z-index: 8;
	padding: $padding-xl*2 0;
	@include background-image(linear-gradient(to bottom, rgba(5,6,8,0) 0%, rgba(5,6,8,1) 50%));
	.form-block {
		display: flex;
		justify-content: space-between;
		align-content: center;
		
		input {
			flex: 2 0;
			margin-right: $padding-l; 
		}
		button {
			flex: 1 0;
		}
		
	}
}
.error-bg {
	padding-top: $padding-xl*4;
	background-image: image-url('errorbg.jpg');
	@extend %full-bg;
}
