.home-bg {
	background: image-url('featherbg.jpg');
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-top: - rem(44px);
}

.logo-container {
	padding-top: 5%;
	width: 20%;
	min-width: 200px;
	margin: 0 auto;
	padding-bottom: $padding-xl;
}

