.sponsor-bg	{
	@extend %full-bg;
	background-image: image-url('sponsorbg.jpg');
	padding-top: rem(200px);
	&:before {
		background-image: image-url('sponsordots.svg');
	}
}

.sponsor-form {
	@include background-image(linear-gradient(to bottom, rgba(5,6,8,0) 0%, rgba(5,6,8,1) 50%));		
	.form-block {
		display: flex;
		justify-content: center;
		align-content: space-around;
		flex-wrap: wrap;
		.input-block {
			flex: 1 auto;
			width: 50%;
			padding: $padding-l; 
			@include media($phone) {
				width: 100%;
			}
			input, textarea {
				width: 100%;
			}
			textarea {
				height: rem(150px);
			}
			&:last-child {
				width: 100%;
			}
			button {
				height: $input-base-height;
				padding: 0 $padding-l;
				margin-top: $padding-l;
			}
		}
	}
}