
body {
  background-color: #1a1d26; 
  @include transition(all 0.1s ease-in-out);
  &.noscroll {
  	height: 100%;
  	overflow: hidden;
  }
}
#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.container {
  @include outer-container;
  z-index: 1;
  @include media($large-phone) {
    padding: 0 $padding-l;
  }
}
.main-container {
  @include outer-container;
  background-color: $background;
  min-height: 100%;
}
.navbar-offset {
  padding-top: rem(44px);
  min-height: calc(100% - 3.73rem);
  @include media($phone) {
    padding-top: 0px;
  }
}
.row {
  display: block;
  clear: both;
  @include clearfix;
}
.half {
  @include span-columns(6);
}
.text-block {
  .header-block {
    text-align: center;
    h1 {
      max-width: rem(800px);
      margin: 0 auto;
    }
  }
  @include col(6,3,$tablet,12,0);
}