

body {
  background-color: #1a1d26; 
  @include transition(all 0.1s ease-in-out);
  display: flex;
  flex-direction: column;
  flex-shrink: 0; 
  &.noscroll {
  	height: 100%;
  	overflow: hidden;
  }
}
#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 5;
}

.container {
  @include outer-container;
  z-index: 1;
  @include media($tablet) {
    max-width: 500px;
  }
  @include media($phone) {
    padding: 0 $padding-l;
  }
}
.main-container {
  @include outer-container;
  background-color: $background;
  min-height: 100%;
}
.navbar-offset {
   flex: 1 0 auto;
   flex-shrink: 0; 
}
.row {
  display: block;
  clear: both;
  @include clearfix;
}
.half {
  @include span-columns(6);
}
.center {
  text-align: center;
}
.text-block {
  .header-block {
    text-align: center;
    h1 {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  h3, h1, h2 {
      text-align: center;
    }
  ul {
    li {
      @extend p;
      padding-left: $padding-xl;
      position: relative;
      &:before {
        content: ' ';
        height: 15px;
        width: 15px;
        border-radius: 50%;
        @include background-image(linear-gradient(to bottom, #fe5408 0%, #f7722b 100%));   
        display: block;
        position: absolute;
        left: 0;
        top: $padding-s;
      }
    }
  }
  @include col(6,3,$tablet,12,0);
}