header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: rem(100px);
	@include clearfix;
	clear: both;
	z-index: 9;

	@include background(linear-gradient(to bottom, $blue 20%, rgba($blue, 0) 100%));
	
	@include media($tablet) {
		position: absolute;
	}
	@include media($phone) {
		position: absolute;
	}
	.nav-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.mobile-nav-button {
		display: none;
	}

	.logo {
		display: flex;
		flex: 1;
		padding-left: $padding-l;
		img {
			max-height: rem(60px);	
		}
	}
	.nav-links {
		flex: 2;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
			a {
				font-size: rem(24px);
				display: flex;
				padding: $padding-xl;
				color: $white;
				font-family: $bold;
				@include transition(color  0.2s ease-in-out);
				&.fa {
					font-family: Fontawesome;
				}
				&:hover {
					color: $orange;
				}
			}
	}
	
	@include media($phone) {
		padding-top: $padding-xl;

		.mobile-nav-button {
			position: relative;
			display: flex;
			flex-direction: column;
      z-index: 999;
      cursor: pointer;
      li {
        display:block;
        width: 35px;
        height: 3px;
        padding: 0;
        background: $white;
        border-radius: 3px;
        @include transition(all 0.3s ease-in-out);
      }
      li + li {
      	margin-top: 6px;
      }
      &.active {
      	background-color: $blue;
      	li {
      		background-color: white;
      		&.top {
      		  @include transform(translateY(400%) rotate(45deg));
      		}
      		&.bottom {
      		  @include transform(translateY(-200%) rotate(-45deg)); 
      		}
      		&.middle {
      		  opacity: 0;
      		}
      	}
      }
		}	
		.nav-links {
			position: fixed;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			padding-top: rem(80px);
			padding-bottom: rem(80px);
			background-color: rgba($blue, 0.98);
			display: none !important;
			a {
				color: white;
				background-color: transparent;
				border-right: 0px;
				font-size: 33px;
				text-align: center;
				flex-direction: column;
				align-items: center;
				padding-bottom: $padding-xl;
				&:hover {
					color: $orange;
				}
				&.fa {
					display: none;
				}
				&:after {
					content: '';
					width: 50%;
					border-bottom: 1px solid rgba($orange, 0.5);
					color: $orange;
					display: flex;
					clear: both;
					padding: $padding-xl 0 0 0;
				}
			}
			a + a {
				padding-top: 0;
			}
			&.active {
				display: block !important;
			}
		}
	}
}

footer {
	width: 100%;
	display: block;
	background-color: $black;
	text-align: center;
	flex-shrink: 0; 
	.copyright {
		height: $footer-height;
		line-height: $footer-height;
		display: inline-block;
		padding-right: $padding-base;
		color: white;
		font-family: $bold;
		a, a:hover, a:visited {
			color: white;
			text-decoration: underline;
			font-family: $bold;
		}
	}
}