html {
  font-size: 18px;
  @include media($small-screen) {
    font-size: 16px;
  }
  @include media($big-tablet) {
    font-size: 14px;
  }
  @include media($large-phone) {
    font-size: 12px;
  }
}

$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold-weight: 700;
$heavy: 800;
$font-black: 900;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

$best-sans-fonts: 'helvetica neue', 'helvetica', 'Arial', sans-serif;
$best-serif-fonts: 'Georgia', 'Palatino Linotype', 'Book Antiqua', serif;
$icon-font: 'fontawesome';

$body: 'montserrat', $best-sans-fonts;
$header: 'butler-bold', $best-serif-fonts;
$bold: 'butler-regular', $best-sans-fonts;

body {
  font-family: $body;
}
strong {
  font-weight: $bold-weight;
}
b {
  font-weight: $bold-weight;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

%white-fonts {
  h1,h2,h3,h4,h5,p,a {
    color: white;
  }
}
%link-styling {
  h1, h2, h3, h4, h5, h6, p {
    a {
      font-style: italic;
      color: $orange;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $orange;
      }
    }
  }
}

.color-block {
  @extend %white-fonts;
}

%basic-padding {
  h1,h2 {
    padding-bottom: $padding-l;
  }
  h3,h4,h5,p {
    padding-bottom: $padding-base;
  }
}

h4,h5 {
  font-family: $body;
}

h1 {
  @include font($header,rem(72px),$bold,$white);
  line-height: 1;
  padding-bottom: $padding-xl;
}

h2 {
   @include font($bold,rem(30px),$light,$white);
   padding-bottom: $padding-xl;
}

h3 {
  @include font($bold,rem(24px),$regular, $white);
  padding-bottom: $padding-xl;
}

blockquote {
  padding-bottom: $padding-xl;
  position: relative;
}

h4 {
  @include font($body,rem(21px),$semibold,$white);
}

h5 {
  @include font($header,rem(24px),$bold,$white);
}

p {
  @include font($body,rem(18px),$regular,$white);
  line-height: 1.8;
  padding-bottom: $padding-xl;
  b {
    font-family: $bold;
  }
  a {
    text-decoration: underline;
    color: $orange;
  }
}

blockquote {

}

%numbered-list {
  ol {
    counter-reset: section;
    li {
      padding-left: $padding-l;
      position: relative;
      @extend p;
      &:before {
        counter-increment: section;
        content: counters(section,".")".";
        position: absolute;
        left: 0px;
        font-family: $bold;
      }
    }
  }
}
.notes {
  font-size: rem(12px);
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}